// addon colors

// table
html
  height: 100%
body
  background-color: $body-bg
  font-size: 14px
  line-height: 24px
  position: relative
  height: 100%
  overflow-x: hidden
a
  color: $theme
  text-decoration: none
  &:hover
    text-decoration: none
.text-danger
  color: $red !important
.btn-wrap
  padding-top: 20px
  .btn
    font-size: 12px
    font-weight: 500
div[class^="col-"]
  &.p-0
    padding-left: 0;
    padding-right: 0;
.text-primary
  color: $theme !important
// sidebar & content
.content-area
  padding: 0 30px 30px 286px
  height: 100%
  transition: all ease-in-out .2s
  -webkit-transition: all ease-in-out .2s
  -moz-transition: all ease-in-out .2s
  -ms-transition: all ease-in-out .2s
  .content-wrapper
    padding: 40px
    background-color: $white
    position: relative
    &:after
      content: ""
      clear: both
      display: table
    &.setting
      height: auto
    h2
      font-size: 20px
      margin: 0 0 20px 0