.nav-seting
  position: absolute
  top: 52px
  left: 40px
  width: 100%
  height: 0;
  z-index: 2
  &.sticky
    position: fixed
    top: 40px
    left: inherit
  .nav
    width: 228px;
.setting-wrapper
  padding-left: 230px
  height: 100%
  -webkit-transition: all 0.5s linear;
  -moz-transition: all 0.5s linear;
  transition: all 0.5s linear;
  .setting-content
    border-left: 1px solid $border-color
    heigh: 100vh
    padding-bottom: 800px;
    -webkit-transition: all 0.5s linear;
    -moz-transition: all 0.5s linear;
    transition: all 0.5s linear;
