{% extends "layout.html" %}
	{% block content %}
		<!-- Header -->
		<header id="header">
			<h1>Meeting History</h1>
			<nav aria-label="breadcrumb">
			  <ol class="breadcrumb">
			    <li class="breadcrumb-item"><a href="#"><i class="icon-home"></i></a></li>
			    <li class="breadcrumb-item"><a href="#">Dashboard</a></li>
			    <li class="breadcrumb-item active" aria-current="page">Previous Meetings</li>
			  </ol>
			</nav>
		</header>
		<div class="content-wrapper">
			<h2>Previous Meetings</h2>
			<div class="filter">
				<ul>
					<li>
						<span>Show Meeting History:</span>
					</li>
					<li>
						<div class="dropdown">
						  <button class="btn dropdown-select dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
						    Last 30 Days
						  </button>
						  <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
						    <a class="dropdown-item" href="#">Last 30 Days (Rolling)</a>
						    <a class="dropdown-item" href="#">Last 60 Days (Rolling)</a>
						    <a class="dropdown-item" href="#">Last 90 Days (Rolling)</a>
						    <a class="dropdown-item" href="#">Last 180 Days (Rolling)</a>
						    <a class="dropdown-item" href="#">This Month</a>
						    <a class="dropdown-item" href="#">Last Month</a>
						    <a class="dropdown-item" href="#">Last Quarter</a>
						    <a class="dropdown-item" href="#">This Year</a>
						    <a class="dropdown-item" href="#">Last Year</a>
						  </div>
						</div>
					</li>
					<li>
						<a href="" class="btn btn-primary btn-sm rounded" data-toggle="modal" data-target="#downloadModal">Download</a>
					</li>
				</ul>
			</div>
			<div class="table-responsive">
			<table id="table_id" class="table display sm">
			    <thead>
			        <tr>
			            <th>Start Time</th>
			            <th>Duration</th>
			            <th>Meeting Name</th>
			            <th>Meeting ID</th>
			            <th>Participant</th>
			            <th>Recorded</th>
			        </tr>
			    </thead>
			    <tbody>
			        <tr>
			            <td>
							Thursday December 13th 2018
							<p>09:00 AM</p>
			            </td>
			            <td>
			            	<p>8 Minutes</p>
			            </td>
			            <td>
			            	<span class="text-primary">Michael’s Meeting Room</span>
			            </td>
			            <td>
			            	<p>555-666-7894</p>
			            </td>
			            <td>
			            	<span class="text-primary">7 Guest</span>
			            </td>
			            <td>
			            	<p>Yes</p>
			            </td>
			        </tr>
			        <tr>
			            <td>
							Friday December 14th 2018
							<p>09:00 AM</p>
			            </td>
			            <td>
			            	<p>241 Minutes</p>
			            </td>
			            <td>
			            	<span class="text-primary">Michael’s Meeting Room</span>
			            </td>
			            <td>
			            	<p>236-666-7894</p>
			            </td>
			            <td>
			            	<span class="text-primary">7 Guest</span>
			            </td>
			            <td>
			            	<p>no</p>
			            </td>
			        </tr>
			        <tr>
			            <td>
							Friday December 14th 2018
							<p>09:00 AM</p>
			            </td>
			            <td>
			            	<p>162 Minutes</p>
			            </td>
			            <td>
			            	<span class="text-primary">Michael’s Meeting Room</span>
			            </td>
			            <td>
			            	<p>896-666-7894</p>
			            </td>
			            <td>
			            	<span class="text-primary">21 Guest</span>
			            </td>
			            <td>
			            	<p>Yes</p>
			            </td>
			        </tr>
			        <tr>
			            <td>
							Thursday December 13th 2018
							<p>09:00 AM</p>
			            </td>
			            <td>
			            	<p>80 Minutes</p>
			            </td>
			            <td>
			            	<span class="text-primary">Breakfast Meeting</span>
			            </td>
			            <td>
			            	<p>389-666-7894</p>
			            </td>
			            <td>
			            	<span class="text-primary">7 Guest</span>
			            </td>
			            <td>
			            	<p>Yes</p>
			            </td>
			        </tr>
			        <tr>
			            <td>
							Thursday December 13th 2018
							<p>09:00 AM</p>
			            </td>
			            <td>
			            	<p>240 Minutes</p>
			            </td>
			            <td>
			            	<span class="text-primary">Michael’s Meeting Room</span>
			            </td>
			            <td>
			            	<p>987-666-7894</p>
			            </td>
			            <td>
			            	<span class="text-primary">10 Guest</span>
			            </td>
			            <td>
			            	<p>no</p>
			            </td>
			        </tr>
			        <tr>
			            <td>
							Thursday December 13th 2018
							<p>09:00 AM</p>
			            </td>
			            <td>
			            	<p>162 Minutes</p>
			            </td>
			            <td>
			            	<span class="text-primary">Michael’s Meeting Room</span>
			            </td>
			            <td>
			            	<p>542-666-7894</p>
			            </td>
			            <td>
			            	<span class="text-primary">7 Guest</span>
			            </td>
			            <td>
			            	<p>Yes</p>
			            </td>
			        </tr>
			    </tbody>
			</table>
			</div>
		</div>
	{% endblock %}