{% extends "layout.html" %}
	{% block content %}
		<!-- Header -->
		<header id="header">
			<h1>Participant List</h1>
			<nav aria-label="breadcrumb">
			  <ol class="breadcrumb">
			    <li class="breadcrumb-item"><a href="#"><i class="icon-home"></i></a></li>
			    <li class="breadcrumb-item"><a href="#">Dashboard</a></li>
			    <li class="breadcrumb-item active" aria-current="page">Previous Meetings</li>
			  </ol>
			</nav>
		</header>
		<div class="content-wrapper">
			<h2>Participant List</h2>
			<div class="filter">
				<ul>
					<li>
						<div class="dropdown">
						  <button class="btn dropdown-select dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
						    Last 30 Days
						  </button>
						  <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
						    <a class="dropdown-item" href="#">Last 30 Days (Rolling)</a>
						    <a class="dropdown-item" href="#">Last 60 Days (Rolling)</a>
						    <a class="dropdown-item" href="#">Last 90 Days (Rolling)</a>
						    <a class="dropdown-item" href="#">Last 180 Days (Rolling)</a>
						    <a class="dropdown-item" href="#">This Month</a>
						    <a class="dropdown-item" href="#">Last Month</a>
						    <a class="dropdown-item" href="#">Last Quarter</a>
						    <a class="dropdown-item" href="#">This Year</a>
						    <a class="dropdown-item" href="#">Last Year</a>
						  </div>
						</div>
					</li>
					<li>
						<a href="" class="btn btn-primary btn-sm rounded" data-toggle="modal" data-target="#downloadModal">Download</a>
					</li>
				</ul>
			</div>
			<div class="table-responsive">
				<table id="table_id2" class="table display sm">
				    <thead>
				        <tr>
				            <th>Guest Name</th>
				            <th>Meeting ID</th>
				            <th>Role</th>
				            <th>Device Type</th>
				            <th>Start Time</th>
				            <th>End Time</th>
				            <th>Duration</th>
				            <th>Rate</th>
				            <th>Total</th>
				        </tr>
				    </thead>
				    <tbody>
				        <tr>
				            <td>
								<p>Michael Levesque</p>
				            </td>
				            <td>
				            	<p>555-666-7894</p>
				            </td>
				            <td>
				            	<p>Moderator</p>
				            </td>
				            <td>
				            	<p>Telephone</p>
				            </td>
				            <td>
				            	<strong>Thursday December 13th 2018</strong>
				            	<p> 09:00 AM</p>
				            </td>
				            <td>
				            	<strong>Thursday December 13th 2018</strong>
				            	<p> 10:20 AM</p>
				            </td>
				            <td>
				            	<p>80 minutes</p>
				            </td>
				            <td>
				            	<p>$0.03</p>
				            </td>
				            <td>
				            	<p>$2.40</p>
				            </td>
				        </tr>
				        <tr>
				            <td>
								<p>Edward Slimane</p>
				            </td>
				            <td>
				            	<p>555-666-7894</p>
				            </td>
				            <td>
				            	<p>Participant</p>
				            </td>
				            <td>
				            	<p>Web</p>
				            </td>
				            <td>
				            	<strong>Thursday December 13th 2018</strong>
				            	<p> 09:00 AM</p>
				            </td>
				            <td>
				            	<strong>Thursday December 13th 2018</strong>
				            	<p> 10:20 AM</p>
				            </td>
				            <td>
				            	<p>30 minutes</p>
				            </td>
				            <td>
				            	<p>$0.03</p>
				            </td>
				            <td>
				            	<p>$0.90</p>
				            </td>
				        </tr>
				        <tr>
				            <td>
								<p>Michael Levesque</p>
				            </td>
				            <td>
				            	<p>555-666-7894</p>
				            </td>
				            <td>
				            	<p>Moderator</p>
				            </td>
				            <td>
				            	<p>Telephone</p>
				            </td>
				            <td>
				            	<strong>Thursday December 13th 2018</strong>
				            	<p> 09:00 AM</p>
				            </td>
				            <td>
				            	<strong>Thursday December 13th 2018</strong>
				            	<p> 10:20 AM</p>
				            </td>
				            <td>
				            	<p>80 minutes</p>
				            </td>
				            <td>
				            	<p>$0.03</p>
				            </td>
				            <td>
				            	<p>$2.40</p>
				            </td>
				        </tr>
				        <tr>
				            <td>
								<p>Edward Slimane</p>
				            </td>
				            <td>
				            	<p>555-666-7894</p>
				            </td>
				            <td>
				            	<p>Participant</p>
				            </td>
				            <td>
				            	<p>Web</p>
				            </td>
				            <td>
				            	<strong>Thursday December 13th 2018</strong>
				            	<p> 09:00 AM</p>
				            </td>
				            <td>
				            	<strong>Thursday December 13th 2018</strong>
				            	<p> 10:20 AM</p>
				            </td>
				            <td>
				            	<p>30 minutes</p>
				            </td>
				            <td>
				            	<p>$0.03</p>
				            </td>
				            <td>
				            	<p>$0.90</p>
				            </td>
				        </tr>
				    </tbody>
				</table>
			</div>
		</div>

	{% endblock %}