#header
  display: flex
  padding: 18px 0
  h1
    font-size: 24px
    text-transform: uppercase
    margin-right: 10px
    line-height: 45px
    margin-bottom: 0
  .breadcrumb
    background-color: transparent
    margin-bottom: 0
    .breadcrumb-item
      a
        color: $blue
        &:hover
          text-decoration: none
      &.active
        color: $text-grey