.nav-pills
  .nav-item
    border: 1px solid $border-color
    border-right: none
    .nav-link
      display: block
      color: $black
      font-size: 14px
      border-left: 2px solid transparent
      border-radius: 0
    &.active
      .nav-link
        border-left: 2px solid $theme
        background-color: transparent
        color: $theme
.tab-content
  height: 100vh
  border-left: 1px solid $border-color
  .tab-pane
    padding: 0 20px
